<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   notes.plist
   WritingPlist

   Created by Giorgio Natili on 9/30/15.
   Copyright (c) 2015 io.webplatform.swift. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
